{% if featured %}
  {% assign collection = collections[featured_collection] %}
{% endif %}

  <!-- CAMBIO: Llamamos a filter-menu  -->
  <div class="sidebar four columns toggle-all--{{ section.settings.toggle }}">
    <div class="sidebar-wrap">
      {% include 'filter-menu' %}
    </div>
  </div>
  <!-- ##############################  -->

{% if section.blocks.size > 0 %}
  <!-- CAMBIO: A partir de aqui hemos quitado el codigo de sidebar -->

{% endif %}

