<br />
<div></div>
<div style="float:right">
  <h4 class="title center">Why Iguana Sell</h4>

  <div class="contenedor-why-iguana" style="border-top: 1px solid #cccccc; height: 190px;">

    <div class="one-third column alpha" style="margin-top: 10px">
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="cd87b9c5c-790c-4270-8d93-c0bd63cd572d" style="text-align:center;" class="shogun-component "> <a href="/pages/over-99-5-happy-customers"> <img src="https://ucarecdn.com/ac87fa50-8a3b-49a3-88f9-1ea193fd9ea0/-/stretch/off/-/resize/2000x/-/quality/normal/" width="" height="" alt="Happy customers" class="shogun-image img-responsive" data-pin-nopin="true"></a></div> <div class="shogun-component" id="c68802d1f-df03-4800-91b4-1077727cc4a3"> <a style="margin-top:5px;padding-top:10px;padding-left:20px;padding-bottom:10px;padding-right:20px;border-radius:4px;height:55px;text-align:center;text-decoration:none;display:block;" class="shg-btn action_button" href="/pages/over-99-5-happy-customers">Over 99.5% happy customers</a></div> <style type="text/css">#c68802d1f-df03-4800-91b4-1077727cc4a3 > a:hover {text-decoration:none !important;}#c68802d1f-df03-4800-91b4-1077727cc4a3 > a:active {background-color:#000000 !important;text-decoration:none !important;}</style></div>
    </div>
    <div class="one-third column" style="margin-top: 10px">
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="c348097e1-9b4a-4593-898c-cf34f9f27428" style="text-align:center;" class="shogun-component "> <a href="/pages/easy-free-cancellation-and-returns#top" data-activator="#top"> <img src="https://ucarecdn.com/1953cbbc-c244-46e8-972c-abb083efa935/-/stretch/off/-/resize/2000x/-/quality/normal/" width="" height="" alt="Easy &amp; Free Cancellations and returns" class="shogun-image img-responsive"></a></div> <div class="shogun-component" id="cc23711c4-13cd-4b28-b8ea-7a090c509e41"> <a style="margin-top:5px;padding-top:10px;padding-left:20px;padding-bottom:10px;padding-right:20px;border-radius:4px;height:55px;text-align:center;text-decoration:none;display:block;" class="shg-btn action_button" href="/pages/easy-free-cancellation-and-returns#top" data-activator="#top">Easy &amp; Free Cancellations and returns</a></div> <style type="text/css">#cc23711c4-13cd-4b28-b8ea-7a090c509e41 > a:hover {text-decoration:none !important;}#cc23711c4-13cd-4b28-b8ea-7a090c509e41 > a:active {background-color:#000000 !important;text-decoration:none !important;}</style></div>
    </div>
    <div class="one-third column omega" style="margin-top: 10px">
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="c7c155dbe-65b2-489d-b9fd-8b580d0531c6" style="margin-top:0px;text-align:center;" class="shogun-component "> <a href="/pages/official-retailer-official-warranty#top" data-activator="#top"> <img src="https://ucarecdn.com/52184137-5132-4989-966e-934719a08f6e/-/stretch/off/-/resize/2000x/-/quality/normal/" width="" height="" alt="Official retailer &amp; official warranty" class="shogun-image img-responsive" data-pin-nopin="true"></a></div> <div class="shogun-component" id="cd088a602-16ff-40f2-8c68-0d35d5d76237"> <a style="margin-top:5px;padding-top:10px;padding-left:20px;padding-bottom:10px;padding-right:20px;border-radius:4px;height:55px;text-align:center;text-decoration:none;display:block;" class="shg-btn action_button" href="/pages/official-retailer-official-warranty#top" data-activator="#top">Official retailer &amp; official warranty</a></div> <style type="text/css">#cd088a602-16ff-40f2-8c68-0d35d5d76237 > a:hover {text-decoration:none !important;}#cd088a602-16ff-40f2-8c68-0d35d5d76237 > a:active {background-color:#000000 !important;text-decoration:none !important;}</style></div>
    </div>
  </div>
</div>
<br />